:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-one:#1a2630;
  --color-two:#83bbdc;
  --color-three:#395162;
}




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}

  
.main{
  overflow-y: auto;
  transform: translateY(60px);
}
.main-section{
   max-width: 1200px;
  background-color: #83bbdc;
  margin: auto;
  padding: 20px;
  margin: auto;
  min-height: calc(100vh - 60px);
}