:root {
  --background: #ffffff;
  --foreground: #171717;
}




* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
ul{
  list-style: none;
}
button{
  cursor: pointer;
  min-width: 50px;
  color: #5c839b;
  background-color: #e9f1e7;
  border: 1px solid #395162;
  margin: 20px;
  padding: 5px 10px;
  font-size: x-large;
  font-weight: bolder;
  border-radius: 10px;
  box-shadow: #395162 0px 5px 15px;
}
  
.main{
  max-width: 900px;
  background-color: #83bbdc;
  margin: auto;
  transform: translateY(60px);
  padding: 20px;
  min-height: calc(100vh - 60px);
  max-height:calc(100vh - 60px);
  overflow-y: auto;
}
