.welcome {
    display: flex;
    flex-direction: column-reverse;
    align-items: center;
    gap: 20px;
}


.text p {
    position: relative;
    z-index: 10;
    text-transform: capitalize;
}

.welcome-text {
    color: var(--color-two);
}


.vision {
    font-size: 64px;
    background-color: #ffffff4b;
    color: black;
    width: fit-content;
    padding: 5px 15px;
    margin-bottom: 10px;
    font-weight: bold;
    border-radius: 8px;
}


.desc {
    color: gray;
    font-size: 20px;
    line-height: 1.6;
}


.buttons {
    margin-top: 5px;
    display: flex;
    gap: 15px;
}


.img {
    width: 370px;
    height: 148px;
    position: relative;
}

.img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}


.img-2 {
    width: 370px;
    height: 148px;
    position: absolute;
    bottom: 10px;
}

.img-2 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 12px;
}
@media (min-width: 767px) {
    .img, .img-2{
        width: 725px;
        height: 160px;
    }
}