.welcome{
    display: flex;
    flex-direction: column;
}
.text p {
    position: relative;
    z-index: 10px;
    text-transform: capitalize;
}
.welcome-text{
    color: var(--color-two);
}
.vision{
    font-size: 64px;
    background-color: #ffffff9e;
    color: black;
    width: fit-content;
    margin-bottom:10px ;
    font-weight: bold;
}
.desc{
    color: gray;
    font-size: 20px;
}
.buttons{
    margin-top: 40px;
    display: flex;
    gap: 10px;
}
